<!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <title></title>
    </head>
    <body>
        <div id="app"></div>
<script type="module">
    import {reactive} from './reactive.ts'
    import {effect} from './effect.ts'
    // 这里要tsc编译成js引入，因为浏览器是不认识ts的
    const user = reactive({
        name:"zs",
        age:18

    }) 
    effect(()=>{
        document.querySelector('#app').innerHTML=`${user.name},${user.age}`
    })
    </script>

    </body>
  </html>